*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.container{
    position: relative;
    display: inline-block;
    width: 100%;
}
img{
    width: 60%;
    display: block;
    margin: auto;   
}

h1{
    position:absolute;
    margin-top: -33%;
    margin-left: 43%;
    color: #ffff;
    width: 5%;
    height: 10%;
    font-size: 150px;  
}
.container-button{
    position:absolute;
    margin-top: -20%;
    margin-left: 42%;
    width: 20%;  
}
button{
    display: inline;
    margin-left: 9%;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
}