* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.container {
    position: relative;
    display: inline-block;
    width: 100%;
}

img {
    width: 60%;
    display: block;
    margin: auto;
}

h1 {
    position: absolute;
    margin-top: -33%;
    margin-left: 43%;
    color: #ffff;
    width: 5%;
    height: 10%;
    font-size: 150px;
}

.container-button {
    position: absolute;
    margin-top: -20%;
    margin-left: 42%;
    width: 20%;
}

button {
    display: inline;
    margin-left: 9%;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
}

@media (max-width:1789px) {

    h1 {

        margin-top: -33%;
        margin-left: 42%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 150px;
    }

    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 41%;
        width: 20%;
    }
}

@media (max-width:1650px) {

    h1 {
        margin-top: -33%;
        margin-left: 41%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 150px;
    }

    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 40%;
        width: 20%;
    }
}

@media (max-width:1538px) {

    h1 {
        margin-top: -33%;
        margin-left: 42%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 120px;
    }

    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 40%;
        width: 20%;
    }

    button {
        display: inline;
        margin-left: 9%;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 18px;
    }
}

@media (max-width:1538px) {
    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 39%;
        width: 20%;
    }

    button {
        display: inline;
        margin-left: 9%;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 18px;
    }
}

@media (max-width:1340px) {

    h1 {
        margin-top: -33%;
        margin-left: 42%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 100px;
    }

    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 40%;
        width: 20%;
    }

    button {
        display: inline;
        margin-left: 9%;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
    }
}

@media (max-width:1140px) {

    h1 {
        margin-top: -33%;
        margin-left: 41%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 100px;
    }

    .container-button {
        position: absolute;
        margin-top: -20%;
        margin-left: 40%;
        width: 20%;

    }

    button {
        display: inline;
        margin-left: 9%;
        width: 70px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
    }
}

@media (max-width:1025px) {

    .container {
        margin-top: 150px;
        width: 400px;
    }

    img {
        width: 250%;
    }

    h1 {
        margin-top: -133%;
        margin-left: 100%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 90px;
    }

    .container-button {
        position: absolute;
        margin-top: -75%;
        margin-left: 95%;
        width: 90%;

    }

    button {
        display: inline;
        margin-left: 2%;
        width: 100px;
        height: 60px;
        border-radius: 15px;
        font-size: 20px;
    }
}


@media (max-width:858px) {
    .container {
        margin-top: 250px;
        width: 400px;
    }

    img {
        width: 200%;
    }

    h1 {
        margin-top: -93%;
        margin-left: 85%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 60px;
    }

    .container-button {
        position: absolute;
        margin-top: -55%;
        margin-left: 80%;
        width: 60%;

    }

    button {
        display: inline;
        margin-left: 2%;
        width: 70px;
        height: 35px;
        border-radius: 5px;
        font-size: 15px;
    }
}

@media (max-width:600px) {
    .container {
        width: 400px;
        margin-left: 80px;
        margin-top: 150px;
    }

    img {
        width: 100%;

    }

    h1 {
        margin-top: -53%;
        margin-left: 41%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 35px;
    }

    .container-button {
        position: absolute;
        margin-top: -30%;
        margin-left: 35%;
        width: 50%;

    }

    button {
        display: inline;
        margin-left: 2%;
        width: 45px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
    }
}

@media (max-width:500px) {
    .container {
        width: 400px;
        margin-top: 250px;
        margin-left: 10px;
    }

    h1 {
        margin-top: -53%;
        margin-left: 42%;
        color: #ffff;
        width: 5%;
        height: 10%;
        font-size: 30px;
    }

    .container-button {
        position: absolute;
        margin-top: -30%;
        margin-left: 35%;
        width: 30%;

    }

    button {
        display: inline;
        margin-left: 9%;
        width: 30px;
        height: 20px;
        border-radius: 5px;
        font-size: 10px;
    }
}

@media (max-width:415px) {

    .container {
        width: 400px;
        margin-top: 150px;
        margin-left: -30px;

    }

    img {
        width: 100%;
        margin-right: 20px;
        margin-bottom: 55px;

    }

    h1 {
        margin-top: -63%;
        margin-left: 44%;
        color: #ffff;
        width: 10%;
        height: 10%;
        font-size: 30px;
    }

    .container-button {
        position: absolute;
        margin-top: -49%;
        margin-left: 38%;
        width: 30%;

    }

    button {
        display: inline;
        margin-left: 2%;
        width: 35px;
        height: 20px;
        border-radius: 5px;
        font-size: 10px;
    }
}